body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;
    font-style: italic;
    color: rgb(60, 58, 58);
}

.caja-hija p {
    margin: 0px 10px 20px 10px;
}

.contizq , .contder {
    flex: 1 0 0;
    background-color: rgb(255, 255, 255);
}

.formulario-gris{
    width: 40%;
    padding:5em 3em 3em 3em;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-image: url(fondogris.png);
    background-size: contain;
    flex: 0 1 700px;
}

.formulario-naranja{
    width: 40%;
    padding:5em 3em 3em 3em;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-image: url(fondonaranja.png);
    background-size: contain;
    flex: 0 2 900px;
}

.caja-padre{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 80px 25px 80px;
    padding: 10px;
    width: 60%;
    max-height: 300px;
    font-size: 1.2em;
    box-shadow: 5px 2px 2px rgb(66, 62, 62);
    position: relative;
    z-index: 2;
}

/*CAJA PRUEBA PARA LOGO*/
.cajaprueba{
    position: absolute;
    top: -80px;
    left: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 60px 25px 50px;
    padding: 5px;
    width: 250px;        /*SIEMPRE EL CONTENEDOR VA A OCUPAR EL 25% DEL ANCHO DE LA PANTALLA*/
    height: 100px;
    font-size: 1.3em;
    max-width: 1000px;
    min-width: 250px;
    z-index: 3;
}

.cajaprueba img{
    width: 100%;                /*EL LOGO OCUPA EL 100% DEL CONTENEDOR */
    width: 250px;               /*LE DEFINO UNA MEDIDA AL LOGO*/
    height: 80px;
}

.caja-logo{
    display: none;
}

.linea-decorativa{
    border: 10px solid white;
    border-radius: 25px 80px 20px 80px;
    border-color: transparent transparent #e1850b transparent; 
    padding: 10px;
    width: 90%;
    position: relative;
    z-index: 3;
}

.caja-hija{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    text-align:left;
    position: relative;
    z-index: 4;
    border-radius: 0px 40px 0px 60px;
}

.caja-texto-libre{
    display: flex;
    justify-content: center;
    margin: 5px;
}

textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 60px;
    max-width: 70%;
    margin: 5px;
    border: 0px;
    border: 1px solid black;
    font-size: 16px; 
    resize: none;
    font-family: sans-serif;
    width: 70%;
    height: 60px;
}

textarea:focus{
    outline-color: black;
}

/*RADIO*/

.radio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #e6e6e6;
    -webkit-text-stroke: 0.4px black;
    margin: 10px;
}

.radio .rojo{
    display: inline-flex;
    cursor: pointer;
    margin: 2px;
	width: 35px;
	height: 35px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background: rgb(186, 40, 40);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.radio .amarillo{
    display: inline-flex;
    cursor: pointer;
    margin: 2px;
	width: 35px;
	height: 35px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background: rgb(192, 192, 22);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.radio .verde{
    display: inline-flex;
    cursor: pointer;
    margin: 2px;
	width: 35px;
	height: 35px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background: rgb(0, 189, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.radio input[type="radio"] {                /*elimina el selector del puntaje redondito :)*/
    display: none;
}

.radio .rojo:hover {                        /*ESTO CONTROLA EL COLOR QUE TOMAN LOS REDONDITOS CUANDO PASAMOS EL CURSOR*/
	background-color: rgb(255, 0, 0);
}

.radio .amarillo:hover {
	background-color: rgb(255, 247, 0);
}

.radio .verde:hover {
	background-color: rgb(66, 255, 88);
}

.radio input[type="radio"].rojo:checked + label {       /*ESTO CONTROLA EL COLOR CUANDO HACEMOS CLICK(UNO POR CADA COLOR)*/
    background-color: rgb(255, 0, 0);	
}

.radio input[type="radio"].amarillo:checked + label {
    background-color: rgb(255, 247, 0);	
}

.radio input[type="radio"].verde:checked + label {
    background-color: rgb(66, 255, 88);	
}

#comentario p{
    font-size: 0.7em;                                /*esto aplica solo a la parte del puntaje*/
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

/* CHECKBOX*/
.caja-checkbox{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.caja-checkbox div{
    margin: 3px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-align: center;
}

/*BOTON ENVIAR*/

button{
    width: 20%;
    height: 30px;
    border: none;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    color: #4b4b4b;
    font-size: 0.8vw;
    font-style: oblique;
    letter-spacing:0.1vw;
    border-radius: 5px;
    box-shadow: 5px 2px 2px rgb(66, 62, 62);
    cursor:pointer;
    text-transform: uppercase;
    transition: .3s ease-in-out all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

button:hover {
    background-color: #d2caca;
}

/*menu selector de prueba para dispositivos pequeños, aca lo oculto en la version de escritorio*/
#mobile-menu-label{     /*oculto el "seleccione una opcion"*/
    display: none;
}

#selector-puntaje {        /*oculto el desplegable*/
    display: none;
}

#selector-experiencia {        /*oculto el desplegable*/
    display: none;
}

/*MEDIA QUERY*/

@media only screen and (min-width:900px) and (max-width: 1000px) { 
    #selector-experiencia {        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 50%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
        font-size: 15px;
    }

    #selector-puntaje{        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 20%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
        font-size: 15px;
    }

    .caja-checkbox{         /*oculto el checkbox*/
        display: none;
    }

    .radio{
        display: none;      /*OCULTO EL SELECTOR REDONDITO*/
    }

}


@media only screen and (min-width: 501px) and (max-width: 900px){

    #comentario{
       text-align: end;
    }

    .linea-decorativa{
        width: 90%;
        padding: 5px;
    }


    .cajaprueba img{            
        width: 190px;              
        height: 60px;
    }

    #selector-experiencia {        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 50%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
        font-size: 15px;
    }

    #selector-puntaje{        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 20%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
        font-size: 15px;
    }

    .caja-checkbox{         /*oculto el checkbox*/
        display: none;
    }

    .radio{
        display: none;      /*OCULTO EL SELECTOR REDONDITO*/
    }

    .caja-texto-libre{
        justify-content: center;
    }

    textarea{
        max-width: 80%;
        width: 80%;
    }

    .caja-boton{
        width: 25%;
        height: 20px;
    }
    
    button{
        font-size: 1.5vw;
    }

}

@media only screen and (min-width: 300px) and (max-width: 575px) {

    .formulario-gris{
        width: 100%;
        padding: 0px;
        margin: 0px;
        gap: 30px;
        background-color: #f5f2f2;
        background-image: none;
    }

    .formulario-naranja{
        width: 100%;
        padding: 0px;
        margin: 0px;
        gap: 30px;
        background-color: #f5f2f2;
        background-image: none;
    }

    /*PRUEBA DE LOGO EN DISPOSITIVOS PEQUEÑOS*/
    .caja-logo{
        display: block;
        box-sizing: border-box;
        width:200px;
        height:200px;
        background-color: #f5f2f2;
    }
    
    .caja-logo img{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .cajaprueba{        /*QUITO EL LOGO ORIGINAL PARA PONER EL OTRO*/
        display: none;
    }

    .caja-padre{
        width: 98%;
        margin-top: 0px;
	    padding: 0px;
        padding-bottom: 10px;
    }

    .caja-hija{
        display: flex;
        background-color: rgb(255, 255, 255);
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        text-align:left;
        position: relative;
        z-index: 4;
    }
    .linea-decorativa{
        width: 85%;
    }

    #selector-experiencia {        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 50%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
        font-size: 15px;
    }

    #selector-puntaje{        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 20%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
        font-size: 15px;
    }

    .caja-checkbox{         /*oculto el checkbox*/
        display: none;
    }

    .radio{
        display: none;      /*OCULTO EL SELECTOR REDONDITO*/
    }

    .caja-boton{
        width: 40%;
        height: 20px;
    }
    
    button{
        font-size: 4vw;
    }
}

@media only screen and (max-width: 300px) {

    .formulario-gris{
        width: 100%;
        padding: 0px;
        margin: 0px;
        gap: 30px;
        background-color: #f5f2f2;
        background-image: none;
    }

    .formulario-naranja{
        width: 100%;
        padding: 0px;
        margin: 0px;
        gap: 30px;
        background-color: #f5f2f2;
        background-image: none;
    }

    /*PRUEBA DE LOGO EN DISPOSITIVOS PEQUEÑOS*/
    .caja-logo{
        display: block;
        box-sizing: border-box;
        width:200px;
        height:200px;
        background-color: #f5f2f2;
    }
    
    .caja-logo img{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .cajaprueba{        /*QUITO EL LOGO ORIGINAL PARA PONER EL OTRO*/
        display: none;
    }

    .caja-padre{
        width: 95%;
        margin-top: 0px;
        border-radius: 20px;
        max-width: 1000px;
        font-size: 1em;
	    padding: 0px;
        padding-bottom: 10px;
    }

    .caja-hija{
        text-align: center;
        max-width: 1000px;
    
    }

    .linea-decorativa{
        border-radius: 10px;
        width: 80%;
    }

    #selector-experiencia {        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 30%;
        height: 30px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
    }

    #selector-experiencia {        /*hago visible el desplegable*/
        display: block;
        align-self: center;
        width: 30%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgb(107, 105, 105);
        border-radius: 5px;
    }

    .caja-checkbox{         /*oculto el checkbox*/
        display: none;
    }

    .radio{
        display: none;      /*OCULTO EL SELECTOR REDONDITO*/
    }

    .caja-boton{
        width: 40%;
        height: 20px;
    }
    
    button{
        font-size: 4vw;
    }
    
    textarea{
        width: 100%;
    }

    #comentario{
        font-size: 4vw;
    }
    
}
